Long-term international migration 2.05, Occupation

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/longterminternationalmigrationusualoccupationpriortomigrationtable205')
scraper

## Long-term international migration 2.05, usual occupation prior to migration, UK and England and Wales

Regular job of migrants entering or leaving UK. Estimates of Long-Term International Migration, annual table.

### Distributions

1. Long-term international migration 2.05, usual occupation prior to migration, UK and England and Wales ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/longterminternationalmigrationusualoccupationpriortomigrationtable205/current/2.05ltimusualoccupationpriortomigration1991to2017.xls))

In [2]:
tab = next(t for t in scraper.distribution().as_databaker() if t.name == 'Table 2.05')

In [3]:
cell = tab.filter('Year')
cell.assert_one()
Occupation = cell.fill(RIGHT).is_not_blank().is_not_whitespace() 
Year = cell.expand(DOWN).filter(lambda x: type(x.value) != str or 'Significant Change?' not in x.value)
Geography = cell.fill(DOWN).one_of(['United Kingdom', 'England and Wales'])
Flow = cell.fill(DOWN).one_of(['Inflow', 'Outflow', 'Balance'])

In [4]:
observations = cell.shift(RIGHT).fill(DOWN).filter('Estimate').expand(RIGHT).filter('Estimate') \
                .fill(DOWN).is_not_blank().is_not_whitespace() 
Str =  tab.filter(contains_string('Significant Change?')).fill(RIGHT).is_not_number()
observations = observations - (tab.excel_ref('A1').expand(DOWN).expand(RIGHT).filter(contains_string('Significant Change')))
original_estimates = tab.filter(contains_string('Original Estimates')).fill(DOWN).is_number()
observations = observations - original_estimates - Str
CI = observations.shift(RIGHT)

In [5]:
csObs = ConversionSegment(observations, [
    HDim(Year,'Year', DIRECTLY, LEFT),
    HDim(Geography,'Geography', CLOSEST, ABOVE),
    HDim(Occupation, 'Occupation', CLOSEST, LEFT),
    HDim(Flow, 'Flow', CLOSEST, ABOVE),
    HDimConst('Measure Type', 'Count'),
    HDimConst('Unit','People (thousands)'),
    HDim(CI,'CI',DIRECTLY,RIGHT),
    HDimConst('Revision', '2011 Census Revision')
])
# savepreviewhtml(csObs)
tidy_revised = csObs.topandas()

In [6]:
csRevs = ConversionSegment(original_estimates, [
    HDim(Year, 'Year', DIRECTLY, LEFT),
    HDim(Geography,'Geography', CLOSEST, ABOVE),
    HDim(Occupation, 'Occupation', CLOSEST, LEFT),
    HDim(Flow, 'Flow', CLOSEST, ABOVE),
    HDimConst('Measure Type', 'Count'),
    HDimConst('Unit','People (thousands)'),
    HDim(original_estimates.shift(RIGHT), 'CI', DIRECTLY, RIGHT),
    HDimConst('Revision', 'Original Estimate')
])
orig_estimates = csRevs.topandas()

In [7]:
tidy = pd.concat([tidy_revised, orig_estimates], axis=0, join='outer', ignore_index=True, sort=False)

In [8]:
import numpy as np
tidy['OBS'].replace('', np.nan, inplace=True)
tidy.dropna(subset=['OBS'], inplace=True)
if 'DATAMARKER' in tidy.columns:
    tidy.drop(columns=['DATAMARKER'], inplace=True)
tidy.rename(columns={'OBS': 'Value'}, inplace=True)
tidy['Value'] = tidy['Value'].astype(int)
tidy['CI'] = tidy['CI'].map(lambda x:'' if x == ':' else int(x[:-2]) if x.endswith('.0') else 'ERR')

In [9]:
tidy['Occupation'] = tidy['Occupation'].str.rstrip('1234')

In [10]:
for col in tidy.columns:
    if col not in ['Value', 'Year', 'CI']:
        tidy[col] = tidy[col].astype('category')
        display(col)
        display(tidy[col].cat.categories)

'Geography'

Index(['England and Wales', 'United Kingdom'], dtype='object')

'Occupation'

Index(['All persons', 'Children', 'Manual and clerical', 'Other adults',
       'Professional and managerial', 'Students'],
      dtype='object')

'Flow'

Index(['Balance', 'Inflow', 'Outflow'], dtype='object')

'Measure Type'

Index(['Count'], dtype='object')

'Unit'

Index(['People (thousands)'], dtype='object')

'Revision'

Index(['2011 Census Revision', 'Original Estimate'], dtype='object')

In [11]:
tidy['Geography'] = tidy['Geography'].cat.rename_categories({
    'United Kingdom': 'K02000001',
    'England and Wales': 'K04000001'
})
tidy['Occupation'] = tidy['Occupation'].cat.rename_categories({
    'All persons': 'all-persons',
    'Children' : 'children',
    'Manual and clerical' : 'manual-and-clerical',
    'Other adults' : 'other-adults',
    'Professional and managerial' : 'professional-and-managerial',
    'Students' : 'students'    
            
})
tidy['Flow'] = tidy['Flow'].cat.rename_categories({
    'Balance': 'balance', 
    'Inflow': 'inflow',
    'Outflow': 'outflow'
})

tidy = tidy[['Geography', 'Year', 'Occupation', 'Flow',
              'Measure Type','Value', 'CI','Unit', 'Revision']]

In [12]:
tidy['Year'] = tidy['Year'].apply(lambda x: pd.to_numeric(x, downcast='integer'))

In [13]:
tidy['Year'] = tidy['Year'].astype(int)

In [14]:
from pathlib import Path
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

tidy.drop_duplicates().to_csv(destinationFolder / ('observations.csv'), index = False)

In [15]:
from gssutils.metadata import THEME
scraper.dataset.theme = THEME['population']
scraper.dataset.family = 'migration'

with open(destinationFolder / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [16]:
tidy

,Geography,Year,Occupation,Flow,Measure Type,Value,CI,Unit,Revision
0,K02000001,1991,all-persons,inflow,Count,329,23,People (thousands),2011 Census Revision
1,K02000001,1991,professional-and-managerial,inflow,Count,94,11,People (thousands),2011 Census Revision
2,K02000001,1991,manual-and-clerical,inflow,Count,64,11,People (thousands),2011 Census Revision
3,K02000001,1991,students,inflow,Count,57,10,People (thousands),2011 Census Revision
4,K02000001,1991,other-adults,inflow,Count,58,9,People (thousands),2011 Census Revision
5,K02000001,1991,children,inflow,Count,56,10,People (thousands),2011 Census Revision
6,K02000001,1992,all-persons,inflow,Count,268,20,People (thousands),2011 Census Revision
7,K02000001,1992,professional-and-managerial,inflow,Count,74,10,People (thousands),2011 Census Revision
8,K02000001,1992,manual-and-clerical,inflow,Count,51,8,People (thousands),2011 Census Revision
9,K02000001,1992,students,inflow,Count,50,8,People (thousands),2011 Census Revision
10,K02000001,1992,other-adults,inflow,Count,56,11,People (thousands),2011 Census Revision
11,K02000001,1992,children,inflow,Count,36,8,People (thousands),2011 Census Revision
12,K02000001,1993,all-persons,inflow,Count,266,19,People (thousands),2011 Census Revision
13,K02000001,1993,professional-and-managerial,inflow,Count,78,10,People (thousands),2011 Census Revision
14,K02000001,1993,manual-and-clerical,inflow,Count,51,8,People (thousands),2011 Census Revision
15,K02000001,1993,students,inflow,Count,58,9,People (thousands),2011 Census Revision
16,K02000001,1993,other-adults,inflow,Count,41,6,People (thousands),2011 Census Revision
17,K02000001,1993,children,inflow,Count,37,8,People (thousands),2011 Census Revision
18,K02000001,1994,all-persons,inflow,Count,315,23,People (thousands),2011 Census Revision
19,K02000001,1994,professional-and-managerial,inflow,Count,96,13,People (thousands),2011 Census Revision
20,K02000001,1994,manual-and-clerical,inflow,Count,66,11,People (thousands),2011 Census Revision
21,K02000001,1994,students,inflow,Count,60,9,People (thousands),2011 Census Revision
22,K02000001,1994,other-adults,inflow,Count,53,8,People (thousands),2011 Census Revision
23,K02000001,1994,children,inflow,Count,41,9,People (thousands),2011 Census Revision
24,K02000001,1995,all-persons,inflow,Count,312,22,People (thousands),2011 Census Revision
25,K02000001,1995,professional-and-managerial,inflow,Count,100,13,People (thousands),2011 Census Revision
26,K02000001,1995,manual-and-clerical,inflow,Count,57,10,People (thousands),2011 Census Revision
27,K02000001,1995,students,inflow,Count,75,11,People (thousands),2011 Census Revision
28,K02000001,1995,other-adults,inflow,Count,44,6,People (thousands),2011 Census Revision
29,K02000001,1995,children,inflow,Count,37,7,People (thousands),2011 Census Revision
...,...,...,...,...,...,...,...,...,...
953,K04000001,2014,children,balance,Count,19,9,People (thousands),2011 Census Revision
954,K04000001,2015,all-persons,balance,Count,309,37,People (thousands),2011 Census Revision
955,K04000001,2015,professional-and-managerial,balance,Count,91,20,People (thousands),2011 Census Revision
956,K04000001,2015,manual-and-clerical,balance,Count,73,21,People (thousands),2011 Census Revision
957,K04000001,2015,students,balance,Count,91,19,People (thousands),2011 Census Revision
958,K04000001,2015,other-adults,balance,Count,29,8,People (thousands),2011 Census Revision
959,K04000001,2015,children,balance,Count,25,9,People (thousands),2011 Census Revision
960,K04000001,2016,all-persons,balance,Count,231,39,People (thousands),2011 Census Revision
961,K04000001,2016,professional-and-managerial,balance,Count,53,21,People (thousands),2011 Census Revision
962,K04000001,2016,manual-and-clerical,balance,Count,42,23,People (thousands),2011 Census Revision
963,K04000001,2016,students,balance,Count,90,20,People (thousands),2011 Census Revision
964,K04000001,2016,other-adults,balance,Count,24,7,People (thousands),2011 Census Revision
965,K04000001,2016,children,balance,Count,21,10,People (thousands),2011 Census Revision
966,K04000001,2017,all-persons,balance,Count,267,45,People (thousands),2011 Census Revision
967,K04000001,2017,professional-and-managerial,balance,Count,71,25,People (thousands),2011 Census Revision
968,K04000001,2017,manual-and-clerical,balance,Count,45,30,People (thousands),2011 Census Revision
969,K04000001,2017,students,balance,Count,103,20,People (thousands),2011 Census Revision
970,K04000001,2017,other-adults,balance,Count,30,10,People (thousands),2011 Census Revision
971,K04000001,2017,children,balance,Count,17,8,People (thousands),2011 Census Revision
973,K02000001,2001,all-persons,balance,Count,171,40,People (thousands),Original Estimate
974,K02000001,2002,all-persons,balance,Count,153,43,People (thousands),Original Estimate
975,K02000001,2003,all-persons,balance,Count,148,46,People (thousands),Original Estimate
976,K02000001,2004,all-persons,balance,Count,245,49,People (thousands),Original Estimate
977,K02000001,2005,all-persons,balance,Count,206,49,People (thousands),Original Estimate
978,K02000001,2006,all-persons,balance,Count,198,52,People (thousands),Original Estimate
979,K02000001,2007,all-persons,balance,Count,233,48,People (thousands),Original Estimate
980,K02000001,2008,all-persons,balance,Count,163,57,People (thousands),Original Estimate
981,K02000001,2009,all-persons,balance,Count,198,37,People (thousands),Original Estimate
982,K02000001,2010,all-persons,balance,Count,252,37,People (thousands),Original Estimate
983,K02000001,2011,all-persons,balance,Count,215,35,People (thousands),Original Estimate